@use './variables.scss' as var;

:root {
  max-width: 100vw !important;
  max-height: 100vh !important;

  }
  
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 125%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: white;
  background: black;
  font-family: var.$varela;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  font-family: var.$openSans;
  font-size: var.$fsMAX;
}
h2 {
  font-family: var.$openSans;
  font-size: var.$fsXL;
}
h3 {
  font-size: var.$fsLarge;
}

h4 {
  font-size: var.$fsMid;
}

h5 {
  font-size: var.$fsSmall;
}

h6 {
  font-size: var.$fsXS;
}

p {
  font-size: var.$fsSmall;
  line-height: 1.25rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
