@use './variables.scss' as var;
@use './breakpoints.scss' as brk;

:root {
  max-width: 100vw !important;
  max-height: 100vh !important;

  }
  
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 125%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var.$notBlack;
  background: var.$violet;
  font-family: var.$varela;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-family: var.$sora;
  font-size: var.$fsMAX;
}
h2 {
  font-size: var.$fsXL;
}
h3 {
  font-family: var.$varela;
  font-size: var.$fsLarge;
}

h4 {
  font-size: var.$fsMid;
}

h5 {
  font-family: var.$sora;
  font-weight: var.$fw400;
  font-size: var.$fsSmall;
}

h6 {
  font-size: var.$fsMid;
}

p {
  font-family: var.$varela;
  font-size: var.$fsSmall;
  margin: 0;
  line-height: 1.25rem;
}

span {
  font-family: var.$sora;
  font-weight: var.$fw500;
  font-size: var.$fsLarge;
}

input {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 35px;
  min-height: 35px;
  max-height: 35px;
}

textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 120px;
  min-height: 80px;
  max-height: 160px;
  
}

label {
  font-size: var.$fsSmall;
  font-family: var.$sora;
  font-weight: var.$fw400;
  
}

input,
textarea {
  font-family: var.$sora;
  font-weight: var.$fw300;
  font-size: var.$fsSmall;
  background: var.$crispySalmon;
  color: var.$notBlack;
  border-radius: var.$tinyRadius;
}

.tileSubhead {
  font-family: var.$openSans;
  font-size: var.$fsMid;
  font-weight: var.$fw700;
}





@media only screen and (min-width: brk.$mqTablet) and (max-width: brk.$mqTabletMax) {
  
  h1 {
    font-size: var.$fsLarge;
  }
  
  li {
    font-size: var.$fsMid;
  }
  
  h4 {
    font-size: var.$fsSmall;
  }
  
}
@media only screen and (min-width: brk.$mqPhone) and (max-width: brk.$mqPhoneMax) {
  h1 {
    font-size: var.$fsMid;
  }

  h2 {
    font-weight: var.$fw500;
  }
 
  li {
    font-size: var.$fsSmall;
  }

  
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}