
/**
*   Media Query Breakpoint
*
*   Each device has a defined range in px to be used as min-width & max-width inside media queries.
*   All variabiles have $mq as prefix.
*
*   - $mq{DEVICE_TYPE} ---> Min Device Threshold.
*   - $mq{DEVICE_TYPE}Max ---> Max Device Threshold.
*/

// Phone
$mqPhone: 300px;
$mqPhoneMax: 767px;

// Tablet
$mqTablet: 768px;
$mqTabletMax: 1023px;

// PC Small
$mqSmallPc: 1024px;
$mqSmallPcMax: 1300px;

// PC Medium
$mqMediumPc: 1301px;
$mqMediumPcMax: 1919px;

// PC
$mqPc: 1920px;
$mqPcMax: 3939px;

// PC Wide
$mqWidePc: 3940px;
