// Components Heights
$popupHeight: 600px;
$topbarHeight: calc(#{$popupHeight} * 0.15);

// Border Radius
$microRadius: 2px;
$tinyRadius: 4px;
$smallRadius: 8px;
$mediumRadius: 15px;
$largeRadius: 35px;
$infiniteRadius: 100000px;

// Transitions
$transitionTimeInstant: 0.14s;
$transitionTimeLow: 0.3s;
$transitionTimeMid: 0.5s;
$transitionTimeLong: 0.9s;

// Colors
$transparent: rgba(255, 255, 255, 0);

$black10: rgba(0, 0, 0, 0.1);
$black25: rgba(0, 0, 0, 0.25);
$black50: rgba(0, 0, 0, 0.5);
$black75: rgba(0, 0, 0, 0.75);
$black: black;
$notBlack: rgb(38, 38, 38);

$white10: rgba(255, 255, 255, 0.1);
$white25: rgba(255, 255, 255, 0.25);
$white50: rgba(255, 255, 255, 0.5);
$white75: rgba(245, 245, 245, 0.75);
$white: white;
$notWhite: rgb(240, 240, 240);

$lightGrey: #434343;
$metalGrey: #232526;
$moonGrey: #122c2e;
$spaceGrey: #0a061a;
$spaceGradientActive: linear-gradient($spaceGrey,  $moonGrey, $spaceGrey,);
$spaceGradientInactive: linear-gradient($spaceGrey,  $metalGrey, $spaceGrey,);



$cyan: #07edca;
$activeCyan: #00dbb9;
$magenta: #f505f2;
$activeMagenta: #f505f2;

$popupShadow: 4px 4px 0 0px $notBlack;
$buttonShadow: 3px 3px 0 0;
$genericBorder: solid $notWhite;
$popupBorder: 7px solid $moonGrey;

// Fonts
$openSans: 'Open Sans';
$varela: 'Varela Round';

// Font Weights
$fw100: 100;
$fw200: 241;
$fw400: 371;
$fw500: 524;
$fw700: 720;
$fw800: 806;

// Font Sizes
$fsMIN: 0.579rem;
$fsXS: 0.694rem;
$fsSmall: 0.833rem;
$fsMid: 1rem;
$fsLarge: 1.2rem;
$fsXL: 1.44rem;
$fsMAX: 1.728rem;

// Margins & Paddings
$microMargin: 2px;
$tinyMargin: 4px;
$smallMargin: 8px;
$mediumMargin: 15px;
$largeMargin: 25px;
$veryLargeMargin: 50px;
$ultraLargeMargin: 100px;
$maxMargin: 200px;
