// Border Radius
$microRadius: 2px;
$tinyRadius: 4px;
$smallRadius: 8px;
$mediumRadius: 15px;
$largeRadius: 35px;
$infiniteRadius: 100000px;

// Transitions
$transitionTimeInstant: 0.14s;
$transitionTimeLow: 0.3s;
$transitionTimeMid: 0.5s;
$transitionTimeLong: 0.9s;

// Colors
$transparent: rgba(255, 255, 255, 0);

$black10: rgba(0, 0, 0, 0.1);
$black25: rgba(0, 0, 0, 0.25);
$black50: rgba(0, 0, 0, 0.5);
$black75: rgba(0, 0, 0, 0.75);
$black: black;
$notBlack: rgb(38, 38, 38);

$white10: rgba(255, 255, 255, 0.1);
$white25: rgba(255, 255, 255, 0.25);
$white50: rgba(255, 255, 255, 0.5);
$white75: rgba(255, 255, 255, 0.75);
$white: white;
$notWhite: rgb(240, 240, 240);

$popupShadow: 12px 12px 0 1px $notBlack;
$popupBorder: solid $notBlack;


// Font Weights
$fw100: 100;
$fw200: 241;
$fw400: 371;
$fw500: 524;
$fw600: 670;
$fw800: 806;

// Font Sizes
$fsMIN: 10px;
$fsXXS: 12px;
$fsXS: 14px;
$fsSmall: 16px;
$fsMid: 19px;
$fsLarge: 22px;
$fsXL: 28px;
$fsXXL: 34px;
$fsMAX: 55px;

// Margins & Paddings
$microMargin: 2px;
$tinyMargin: 4px;
$smallMargin: 8px;
$mediumMargin: 15px;
$largeMargin: 25px;
$veryLargeMargin: 50px;
$ultraLargeMargin: 100px;
$maxMargin: 200px;