

// Border Radius
$tinyRadius: 4px;
$largeRadius: 35px;

// Transitions
$transitionTimeLow: 0.3s;

// Colors
$transparent: rgba(255, 255, 255, 0);

$black: black;
$notBlack: rgb(38, 38, 38);

$white: white;
$notWhite: rgb(240, 240, 240);

$paleViolet: #fbe5e1;
$violet: #a18dee;
$salmon: #f3c6a3;
$crispySalmon: #ffb075;
$paleYellow:#fcd6a6;

$cyan: #07edca;
$activeCyan: #00dbb9;
$magenta: #f505f2;
$activeMagenta: #f505f2;

$popupShadow: 5px 5px 0 0px $notBlack;
$buttonShadow: 3px 3px 0 0 ;
$inputShadow: 2px 2px 0 0 $notBlack;
$genericBorder: solid $notBlack;
$popupBorder: 7px solid $notBlack;

// Fonts
$openSans: 'Open Sans';
$varela: 'Varela Round';
$sora: 'Sora';

// Font Weights
$fw300: 320;
$fw400: 471;
$fw500: 524;
$fw700: 720;

// Font Sizes
$fsMIN: 0.579rem;
$fsXS: 0.694rem;
$fsSmall: 0.833rem;
$fsMid: 1rem;
$fsLarge: 1.2rem;
$fsXL: 1.44rem;
$fsMAX: 1.728rem;

// Margins & Paddings
$microMargin: 2px;
$tinyMargin: 4px;
$smallMargin: 8px;
$mediumMargin: 15px;
$largeMargin: 25px;
$veryLargeMargin: 50px;
