@use "../../styles/variables.scss" as var;

/*
* Buttons Style
*
* Generic Button ---> Display and Dimensions Properties
*
* Primary Button ---> Cyan Variation
*
* Secondary Button ---> Magenta Variation
*/

/* Generic Button */
.genericBtn {
    width: fit-content;
    min-width: (50px + (25px * 2));
    height: 40px;
    min-height: 35px;
    padding: var.$smallMargin var.$tinyMargin;
    color: var.$notBlack;
    border: 3px var.$genericBorder;
    border-radius: var.$tinyRadius;
    box-shadow: var.$buttonShadow var.$notBlack;
    font-size: var.$fsSmall;
    text-align: center;
    transition: 0.2s;
}

.genericBtn:active {
    transform: scale(0.9);
  }

/* Primary Button */
.primaryBtn {
    @extend .genericBtn;
    background-color: var.$cyan;
}

.primaryBtn:hover {
    color: var.$cyan;
    border-color: var.$cyan;
    background-color: var.$notBlack;
    box-shadow: var.$buttonShadow var.$cyan;
}

.primaryBtn:active {
    color: var.$activeCyan;
    border-color: var.$activeCyan;
    box-shadow: var.$buttonShadow var.$activeCyan;
}

/* Secondary Button */
.secondaryBtn {
    @extend .genericBtn;
    background-color: var.$magenta;
}

.secondaryBtn:hover {
    color: var.$magenta;
    border-color: var.$magenta;
    background-color: var.$notBlack;
    box-shadow: var.$buttonShadow var.$magenta;
}

.secondaryBtn:active {
    color: var.$activeMagenta;
    border-color: var.$activeMagenta;
    box-shadow: var.$buttonShadow var.$activeMagenta;
}