@use "../../share/styles/variables.scss" as var;
@use "../../share/styles/breakpoints.scss" as brk;

.title {
    margin-top: var.$largeMargin;
    text-align: center;
}

.claim {
    font-family: var.$openSans;
    font-size: var.$fsMid;
    font-style: italic;
    text-align: center;
}

@media only screen and (max-width: brk.$mqTabletMax) {
    .claim {
        font-size: var.$fsSmall;
    }
}
