@use '../../styles/variables.scss' as var;
@use '../../styles/breakpoints.scss' as brk;

.container {
    height: 300px;
  }
  
  .tabs {
    padding: var.$mediumMargin;
    box-sizing: content-box;
  }
  
  .menuTabs {
    scale: 1;
    transform-origin: left;
    transition: transform var.$transitionTimeLow ease-in;
    background: var.$popupBackground;
  }
  
  .activeMenu {
    scale: 1.025;
    background: var.$activeElementBackground;
  }
  

  .contentTabsWrapper {
    border-left: var.$popupBorder;
    border-top: none;
  }
  
  .tabTitle {
    font-family: var.$varela;
  }
  
  
  @media only screen and (max-width: brk.$mqTabletMax) {
    
    .contentTabsWrapper {
      border-left: none;
      border-top: var.$popupBorder;
    }
    .tabs {
      padding: var.$smallMargin;
  }
  }