@use '../../styles/variables.scss' as var;

.container {
    height: 300px;
  }
  
  .tabs {
    padding: 15px;
    box-sizing: content-box;
    opacity: 0.6;
    transition: opacity var.$transitionTimeLow ease-out;
  }
  
  .menuTabs {
    scale: 1;
    transform-origin: left;
    transition: transform var.$transitionTimeLow ease-in;
  }

  .activeMenu {
    scale: 1.025;
  }
  
  .activeTabs  {
    opacity: 1;
  }
  
  .contentTabs {
    border-left: var.$popupBorder;
  }
  
  .tabTitle {
    font-family: var.$varela;
  }
  
  .contentTabs {
    border-left: var.$popupBorder;
  }