@use '../../styles/variables.scss' as var;


  
  
  .logo_p_right {
    padding-right: var.$smallMargin;
    padding-left: 0px;
  }
  


.window-btn-primary {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  cursor: pointer;
}

.window-btn-primary:hover {
  border-radius: 0px;
  background-color: rgba(227, 20, 20, 0);
  background-clip: content-box;
  -webkit-text-fill-color: inherit;
}

.window-btn-secondary {
  margin-left: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}