@use "../../styles/variables.scss" as var;

$popupHeight: 600px;

.genericPopup {
  height: $popupHeight;
  min-height: $popupHeight;
  max-height: $popupHeight;
  border-radius: var.$largeRadius;
  box-shadow: var.$popupShadow;
  border: var.$popupBorder;
}

.topbarWrapper {
  height: 15%;
  max-height: 15%;
  min-height: 15%;
  border-bottom: var.$popupBorder;
}

.contentWrapper {
  height: 85%;
  max-height: 85%;
  min-height: 85%;
}

.contentClass {
  border-left: 8px var.$genericBorder;
}