@use "../../styles/variables.scss" as var;

.genericPopup {
  height: 70%;
  min-height: 70%;
  max-height: 70%;
  border-radius: var.$largeRadius;
  box-shadow: var.$popupShadow;
  border: var.$popupBorder;
}

.topbarWrapper {
  height: 15%;
  max-height: 15%;
  min-height: 15%;
  padding-right: var.$veryLargeMargin;
  border-bottom: var.$popupBorder;
}

.contentWrapper {
  height: 85%;
  max-height: 85%;
  min-height: 85%;
}

.contentClass {
  border-left: 8px var.$genericBorder;
}