@use "../../styles/variables.scss" as var;

.genericPopup {
  height: 70%;
  min-height: 70%;
  max-height: 70%;
  border-radius: var.$largeRadius;
  box-shadow: var.$popupShadow;
  border: var.$popupBorder;
}

.topbarWrapper {
  height: 15%;
  max-height: 15%;
  min-height: 15%;
  padding-right: var.$veryLargeMargin;
  border-bottom: var.$popupBorder;
}

.contentWrapper {
  height: 85%;
  max-height: 85%;
  min-height: 85%;
}

.topbar-contact-btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 100%;
  max-height: 100%;
  max-width: 30%;
  min-height: 100%;
  min-width: 25%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}


.sidebar-generic {
  padding: var.$smallMargin 0 var.$largeMargin;
  border-right: 4px var.$genericBorder;
}
